# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Dell 5480\Desktop\School\~OKJ_zsv_14rsze_szf\14\Java\RobbanoCicakMaven\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
